<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
        
        <title>Bera's blog</title>
    </head>
    <body><link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
        <div>
            <h1><a href="/">Django Girls Blog</a></h1>
        </div>
        <div>
            {% for post in posts %}
                {{post}}
            {% endfor %} 
        </div>
    </body>
</html>